.shop-div {
    background-image: url('../../../assets/images/bg_1.jpg');
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wishlist-items {
    margin: 50px 0;
}

.table tbody tr td {
    text-align: center !important;
    vertical-align: middle;
    padding: 40px 10px;
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.table tbody tr td h3 {
    font-size: 16px;
}

.table tbody tr .product-amount,
.table tbody tr .total-amount {
    color: #000000;
    font-weight: 500;
}

.table .thead-primary tr th {
    padding: 20px 10px;
    color: #fff !important;
    border: 1px solid transparent !important;
    background-color: #82ae46;
    font-weight: 500;
    ;
}

.table tbody tr .product-quantity {
    width: 20%;
}

.table tbody tr .product-quantity .input-group input {
    height: 54px !important;
    color: #000000 !important;
    font-size: 14px;
    text-align: center;
}

.cart-list {
    overflow-x: scroll;
}