<div class="container-fluid shop-div">
    <p style=" text-transform: uppercase; font-size: 12px; letter-spacing: 3px;
    margin-bottom: 0;     color: #fff;margin-top: 125px; font-weight: 300;">HOME WISHLIST</p>
    <p style="    font-weight: 800;color: #fff; font-size: 30px;
    font-family: Poppins, Arial, sans-serif; letter-spacing: 3px;
    text-transform: uppercase;">MY WISHLIST</p>
</div>

<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
    <div class=" col-12 cart-list">
        <table class="table">
            <thead class="thead-primary">
                <tr class="text-center ">
                    <th>&nbsp;</th>
                    <th>Product List</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td class="cancel-product  "><a
                            style=" border: 1px groove  rgb(189, 186, 186); padding: 2px 8px;">x</a>
                    </td>
                    <td class="product-image"><img src="../../../assets/images/product-1.jpg" alt="" width="100px"
                            height="100px"></td>
                    <td class="product-name" style="width: 30%;">
                        <h3>Bell Pepper</h3>
                        <p> Far far away, behind the word mountains, far from the countries</p>
                    </td>
                    <td class="product-amount">$4.90</td>
                    <td class="product-quantity">
                        <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number" value="1"
                                min="1" max="100">
                        </div>
                    </td>
                    <td class="total-amount">$4.90</td>
                </tr>
                <tr class="text-center">
                    <td class="cancel-product  "><a
                            style=" border: 1px groove  rgb(189, 186, 186); padding: 2px 8px;">x</a>
                    </td>
                    <td class="product-image"><img src="../../../assets/images/product-2.jpg" alt="" width="100px"
                            height="100px"></td>
                    <td class="product-name" style="width: 30%;">
                        <h3>Bell Pepper</h3>
                        <p> Far far away, behind the word mountains, far from the countries</p>
                    </td>
                    <td class="product-amount">$4.90</td>
                    <td class="product-quantity">
                        <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number" value="1"
                                min="1" max="100">
                        </div>
                    </td>
                    <td class="total-amount">$4.90</td>
                </tr>
                <tr class="text-center">
                    <td class="cancel-product  "><a
                            style=" border: 1px groove  rgb(189, 186, 186); padding: 2px 8px;">x</a>
                    </td>
                    <td class="product-image"><img src="../../../assets/images/product-3.jpg" alt="" width="100px"
                            height="100px"></td>
                    <td class="product-name" style="width: 30%;">
                        <h3>Bell Pepper</h3>
                        <p> Far far away, behind the word mountains, far from the countries</p>
                    </td>
                    <td class="product-amount">$4.90</td>
                    <td class="product-quantity">
                        <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number" value="1"
                                min="1" max="100">
                        </div>
                    </td>
                    <td class="total-amount">$4.90</td>
                </tr>
                <tr class="text-center">
                    <td class="cancel-product  "><a
                            style=" border: 1px groove  rgb(189, 186, 186); padding: 2px 8px;">x</a>
                    </td>
                    <td class="product-image"><img src="../../../assets/images/product-4.jpg" alt="" width="100px"
                            height="100px"></td>
                    <td class="product-name" style="width: 30%;">
                        <h3>Bell Pepper</h3>
                        <p> Far far away, behind the word mountains, far from the countries</p>
                    </td>
                    <td class="product-amount">$4.90</td>
                    <td class="product-quantity">
                        <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number" value="1"
                                min="1" max="100">
                        </div>
                    </td>
                    <td class="total-amount">$4.90</td>
                </tr>
                <tr class="text-center">
                    <td class="cancel-product  "><a
                            style=" border: 1px groove  rgb(189, 186, 186); padding: 2px 8px;">x</a>
                    </td>
                    <td class="product-image"><img src="../../../assets/images/product-5.jpg" alt="" width="100px"
                            height="100px"></td>
                    <td class="product-name" style="width: 30%;">
                        <h3>Bell Pepper</h3>
                        <p> Far far away, behind the word mountains, far from the countries</p>
                    </td>
                    <td class="product-amount">$4.90</td>
                    <td class="product-quantity">
                        <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number" value="1"
                                min="1" max="100">
                        </div>
                    </td>
                    <td class="total-amount">$4.90</td>
                </tr>
                <tr class="text-center">
                    <td class="cancel-product  "><a
                            style=" border: 1px groove  rgb(189, 186, 186); padding: 2px 8px;">x</a>
                    </td>
                    <td class="product-image"><img src="../../../assets/images/product-6.jpg" alt="" width="100px"
                            height="100px"></td>
                    <td class="product-name" style="width: 30%;">
                        <h3>Bell Pepper</h3>
                        <p> Far far away, behind the word mountains, far from the countries</p>
                    </td>
                    <td class="product-amount">$4.90</td>
                    <td class="product-quantity">
                        <div class="input-group mb-3">
                            <input type="text" name="quantity" class="quantity form-control input-number" value="1"
                                min="1" max="100">
                        </div>
                    </td>
                    <td class="total-amount">$4.90</td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 " style="background-color: #f7f6f2;">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex" style="width: 540px; height: 52px;">
                        <input type="text" class="form-control" placeholder="Enter email address"
                            style="font-size: 14px; line-height: 27px; font-family: Poppins, Arial, sans-serif;">
                        <input type="submit" value="Subscribe" class="submit px-3 border-0"
                            style="background-color: #82ae46; color: white;font-size: 14px; line-height: 27px;  font-family: Poppins, Arial, sans-serif;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>