<div class="container-fluid shop-div">
    <p style=" text-transform: uppercase; font-size: 12px; letter-spacing: 3px;
    margin-bottom: 0;     color: #fff;margin-top: 125px; font-weight: 300;">HOME PRODUCT PRODUCT SINGLE</p>
    <p style="    font-weight: 800;color: #fff; font-size: 30px;
    font-family: Poppins, Arial, sans-serif; letter-spacing: 3px;
    text-transform: uppercase;">PRODUCT SINGLE</p>
</div>
<div class="container">
    <div class="d-flex justify-content-center selected-product">
        <div><img src="../../../assets/images/product-1.jpg" alt="" width="550px" height="auto"
                style="margin-top: 80px;"></div>
        <div class="d-flex flex-column align-items-start product-details" style="margin-top: 100px;">
            <h3>Bell Paper</h3>
            <div class="d-flex ">
                <p style="color: #82ae46;">5.0<span style="padding-left: 5px;">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i></span></p>
                <p style="padding-left: 20px;">100<span style="padding-left: 3px;color: #b1acac;">Rating</span></p>
                <p style="padding-left: 20px;">500 <span style="padding-left: 3px; color: #b1acac;">Sold</span></p>
            </div>
            <h3>$120.00</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                paradisematic country, in which roasted parts of sentences fly into your mouth. Text should turn around
                and
                return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long
                until.</p>
            <!-- <div class="form-group d-flex">
                <div class="select-wrap">
                    <div class="icon"><span class="fa fa-angle-down"></span></div>
                    <select name="" id="" class="form-control">
                        <option value="">Small</option>
                        <option value="">Medium</option>
                        <option value="">Large</option>
                        <option value="">Extra Large</option>
                    </select>
                </div>
            </div> -->
            <p>600 kg available</p>
            <button>Add to Cart</button>
        </div>
    </div>
</div>
<div class="d-flex flex-column" style="margin-top: 180px;">
    <div class="d-flex flex-column text-center ">
        <p style="color: #82ae46; font-family: Lora, Georgia, serif; font-size: 18px; font-style: italic;">Products</p>
        <h2 style="    font-size: 40px; font-weight: 600; color: #000000;
        font-family: Poppins, Arial, sans-serif; padding-bottom:15px;">Related Products</h2>
        <p style=" font-family: Poppins, Arial, sans-serif; font-size: 15px;
        line-height: 1.8; font-weight: 400; color: gray; ">Far far away, behind the word mountains,
            far from the
            countries Vokalia and Consonantia</p>
    </div>
    <div class="d-flex flex-column my-4">
        <div class="d-flex flex-row m-4 justify-content-between" style="padding-left: 70px; padding-right: 70px;">
            <div class="card  card-div">
                <span
                    style="background-color: #82ae46; position: absolute; color: white; padding: 6px;    font-size: 14px;">30%</span>
                <img class="card-img-top zoom" src="../../assets/images/product-1.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">BELL PEPPER</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;"><span
                                style="text-decoration: line-through;color: #b1acac; padding-right: 10px;">$120.00
                            </span>$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-2.jpg" alt="Card image cap">
                <div class="text-center">
                    <a href="" style="text-decoration: none; color: #000000;">STRAWBERRY</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center cardstyle align-items-center border-0">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-3.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">GREEN BEANS</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-4.jpg" alt="Card image cap">
                <div class=" text-center ">
                    <a href="" style="text-decoration: none; color: #000000;">PURPLE CABBAGE</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 " style="background-color: #f7f6f2;">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex" style="width: 540px; height: 52px;">
                        <input type="text" class="form-control" placeholder="Enter email address"
                            style="font-size: 14px; line-height: 27px; font-family: Poppins, Arial, sans-serif;">
                        <input type="submit" value="Subscribe" class="submit px-3 border-0"
                            style="background-color: #82ae46; color: white;font-size: 14px; line-height: 27px;  font-family: Poppins, Arial, sans-serif;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>