<div class="container-fluid shop-div">
    <p style=" text-transform: uppercase; font-size: 12px; letter-spacing: 3px;
    margin-bottom: 0;     color: #fff;margin-top: 125px; font-weight: 300;">HOME PRODUCTS</p>
    <p style="    font-weight: 800;color: #fff; font-size: 30px;
    font-family: Poppins, Arial, sans-serif; letter-spacing: 3px;
    text-transform: uppercase;">PRODUCTS</p>
</div>
<div class="d-flex flex-column m-5 selection">
    <div class="d-flex  justify-content-center selection-type">
        <p>All</p>
        <p>Vegetables</p>
        <p>Fruits</p>
        <p>Juice</p>
        <p>Dried</p>

    </div>
    <div class="d-flex flex-column my-4">
        <div class="d-flex flex-row m-4 justify-content-between" style="padding-left: 70px; padding-right: 70px;">
            <div class="card  card-div">
                <span
                    style="background-color: #82ae46; position: absolute; color: white; padding: 6px;    font-size: 14px;">30%</span>
                <img class="card-img-top zoom" src="../../assets/images/product-1.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">BELL PEPPER</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;"><span
                                style="text-decoration: line-through;color: #b1acac; padding-right: 10px;">$120.00
                            </span>$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-2.jpg" alt="Card image cap">
                <div class="text-center">
                    <a href="" style="text-decoration: none; color: #000000;">STRAWBERRY</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center cardstyle align-items-center border-0">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-3.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">GREEN BEANS</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-4.jpg" alt="Card image cap">
                <div class=" text-center ">
                    <a href="" style="text-decoration: none; color: #000000;">PURPLE CABBAGE</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex flex-row m-4 justify-content-between" style="padding-left: 70px; padding-right: 70px;">
            <div class="card  card-div">
                <span
                    style="background-color: #82ae46; position: absolute; color: white; padding: 6px;    font-size: 14px;">30%</span>
                <img class="card-img-top zoom" src="../../assets/images/product-5.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">TOMATOE</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;"><span
                                style="text-decoration: line-through;color: #b1acac; padding-right: 10px;">$120.00
                            </span>$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-6.jpg" alt="Card image cap">
                <div class="text-center">
                    <a href="" style="text-decoration: none; color: #000000;">BROCOLLI</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center cardstyle align-items-center border-0">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-7.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">CARROTS</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-8.jpg" alt="Card image cap">
                <div class=" text-center ">
                    <a href="" style="text-decoration: none; color: #000000;">FRUIT JUICE</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex flex-row m-4 justify-content-between" style="padding-left: 70px; padding-right: 70px;">
            <div class="card  card-div">
                <span
                    style="background-color: #82ae46; position: absolute; color: white; padding: 6px;    font-size: 14px;">30%</span>
                <img class="card-img-top zoom" src="../../assets/images/product-9.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">ONION</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;"><span
                                style="text-decoration: line-through;color: #b1acac; padding-right: 10px;">$120.00
                            </span>$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-10.jpg" alt="Card image cap">
                <div class="text-center">
                    <a href="" style="text-decoration: none; color: #000000;">APPLE</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex border-0 justify-content-center cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center cardstyle align-items-center border-0">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-11.jpg" alt="Card image cap">
                <div class=" text-center">
                    <a href="" style="text-decoration: none; color: #000000;">GARLIC</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card card-div">
                <img class="card-img-top zoom" src="../../assets/images/product-12.jpg" alt="Card image cap">
                <div class=" text-center ">
                    <a href="" style="text-decoration: none; color: #000000;">CHILLI</a>

                    <div class="hover-items d-flex justify-content-center ">
                        <p class="card-text hover-initial position-absolute" style=" color: #82ae46;">$80.00
                        </p>
                        <div class="d-flex flex-row hover-icon position-absolute justify-content-between ">
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center ">
                                <i class="fa fa-bars" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center mx-1">
                                <i class="fa fa-shopping-cart " style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                            <button class="d-flex justify-content-center border-0 cardstyle align-items-center">
                                <i class="fa fa-heart" style="font-size: 10px;" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid next-page d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item "><a class="page-link rounded-circle" href="#">
                    < </a>
            </li>
            <li class="page-item"><a class="page-link rounded-circle" href="#">1</a></li>
            <li class="page-item"><a class="page-link rounded-circle" href="#">2</a></li>
            <li class="page-item"><a class="page-link rounded-circle" href="#">3</a></li>
            <li class="page-item"><a class="page-link rounded-circle" href="#"> > </a></li>
        </ul>
    </div>
</div>
<section class="ftco-section ftco-no-pt ftco-no-pb py-5 " style="background-color: #f7f6f2;">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex" style="width: 540px; height: 52px;">
                        <input type="text" class="form-control" placeholder="Enter email address"
                            style="font-size: 14px; line-height: 27px; font-family: Poppins, Arial, sans-serif;">
                        <input type="submit" value="Subscribe" class="submit px-3 border-0"
                            style="background-color: #82ae46; color: white;font-size: 14px; line-height: 27px;  font-family: Poppins, Arial, sans-serif;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>