<div class="container-fluid shop-div">
    <p style=" text-transform: uppercase; font-size: 12px; letter-spacing: 3px;
    margin-bottom: 0;     color: #fff;margin-top: 125px; font-weight: 300;">HOME BLOG</p>
    <p style="    font-weight: 800;color: #fff; font-size: 30px;
    font-family: Poppins, Arial, sans-serif; letter-spacing: 3px;
    text-transform: uppercase;">BLOG</p>
</div>
<div class="container" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-8 d-flex">
            <div class="row">
                <div class="col-12" style="margin-top: 95px;">
                    <div class="row">
                        <div class="col-5 blog-img1"></div>
                        <div class="col-7 blog-cont">
                            <div class="d-flex">
                                <span style="padding-right: 10px;">July 20, 2019</span>
                                <span style="padding-right: 10px;">Admin</span>
                                <span><i class="fa fa-commenting pr-1" aria-hidden="true"
                                        style="padding-right: 5px;"></i>3</span>
                            </div>
                            <h6 class="py-4">Even the all-powerful Pointing has no control about the blind texts</h6>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there
                                live
                                the
                                blind texts.</p>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 95px;">
                    <div class=" row">
                        <div class="col-5 blog-img2"></div>
                        <div class="col-7 blog-cont">
                            <div class="d-flex">
                                <span style="padding-right: 10px;">July 20, 2019</span>
                                <span style="padding-right: 10px;">Admin</span>
                                <span><i class="fa fa-commenting pr-1" aria-hidden="true"
                                        style="padding-right: 5px;"></i>3</span>
                            </div>
                            <h6 class="py-4">Even the all-powerful Pointing has no control about the blind texts</h6>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there
                                live
                                the
                                blind texts.</p>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 95px;">
                    <div class=" row">
                        <div class="col-5 blog-img3"></div>
                        <div class="col-7 blog-cont">
                            <div class="d-flex">
                                <span style="padding-right: 10px;">July 20, 2019</span>
                                <span style="padding-right: 10px;">Admin</span>
                                <span><i class="fa fa-commenting pr-1" aria-hidden="true"
                                        style="padding-right: 5px;"></i>3</span>
                            </div>
                            <h6 class="py-4">Even the all-powerful Pointing has no control about the blind texts</h6>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there
                                live
                                the
                                blind texts.</p>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 95px;">
                    <div class=" row">
                        <div class="col-5 blog-img4"></div>
                        <div class="col-7 blog-cont">
                            <div class="d-flex">
                                <span style="padding-right: 10px;">July 20, 2019</span>
                                <span style="padding-right: 10px;">Admin</span>
                                <span><i class="fa fa-commenting pr-1" aria-hidden="true"
                                        style="padding-right: 5px;"></i>3</span>
                            </div>
                            <h6 class="py-4">Even the all-powerful Pointing has no control about the blind texts</h6>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there
                                live
                                the
                                blind texts.</p>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 95px;">
                    <div class="row">
                        <div class="col-5 blog-img5"></div>
                        <div class="col-7 blog-cont">
                            <div class="d-flex">
                                <span style="padding-right: 10px;">July 20, 2019</span>
                                <span style="padding-right: 10px;">Admin</span>
                                <span><i class="fa fa-commenting pr-1" aria-hidden="true"
                                        style="padding-right: 5px;"></i>3</span>
                            </div>
                            <h6 class="py-4">Even the all-powerful Pointing has no control about the blind texts</h6>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there
                                live
                                the
                                blind texts.</p>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 95px;">
                    <div class=" row">
                        <div class="col-5 blog-img6"></div>
                        <div class="col-7 blog-cont">
                            <div class="d-flex">
                                <span style="padding-right: 10px;">July 20, 2019</span>
                                <span style="padding-right: 10px;">Admin</span>
                                <span><i class="fa fa-commenting pr-1" aria-hidden="true"
                                        style="padding-right: 5px;"></i>3</span>
                            </div>
                            <h6 class="py-4">Even the all-powerful Pointing has no control about the blind texts</h6>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there
                                live
                                the
                                blind texts.</p>
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4 search-suggestion px-4 pt-4">
            <div class=" d-flex align-items-center search-bar border border-Muted">
                <input type="text" class="container-fluid border-0" placeholder="Search....">
                <i class="fa fa-search p-2" aria-hidden="true"></i>
            </div>
            <div class="row">
                <table class="table">
                    <thead class="thead-primary ">
                        <tr>
                            <th class="col-11 heading">Categories</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Vegetables</td>
                            <td class="td-color">(23)</td>
                        </tr>
                        <tr>
                            <td>Fruits</td>
                            <td class="td-color">(13)</td>
                        </tr>
                        <tr>
                            <td>juice</td>
                            <td class="td-color">(33)</td>
                        </tr>
                        <tr>
                            <td>Dries</td>
                            <td class="td-color">(3)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div style="margin-top: 70px;" class="recent-blog">
                <h6 style="margin-bottom: 35px;">Recent Blog</h6>
                <div class="row">
                    <div class="col-12 my-4">
                        <div class="row recent-info">
                            <div class=" col-md-4 recent-img"></div>
                            <div class="col-md-8 recent-img-data">
                                <h6 style="line-height: 30px;font-weight: 300;font-size: 21px;">Even the all-powerful
                                    Pointing has no control about the blind texts
                                </h6>
                                <div class="d-flex align-items-center">
                                    <span
                                        style=" line-height: 15px;font-weight: 200;font-size: 13px; padding-right: 10px;"><i
                                            class="fa fa-calendar" aria-hidden="true"></i>
                                        April 09, 2019</span>
                                    <span
                                        style=" line-height: 15px;font-weight: 200;font-size: 13px; padding-right: 10px;"><i
                                            class="fa fa-user pr-2" aria-hidden="true"></i>
                                        Admin</span>
                                    <span style=" line-height: 15px;font-weight: 200;font-size: 13px;">
                                        <i class="fa fa-commenting pr-2" aria-hidden="true"></i> 5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-4">
                        <div class="row recent-info">
                            <div class=" col-md-4 recent-img"></div>
                            <div class="col-md-8 recent-img-data">
                                <h6 style="line-height: 30px;font-weight: 300;font-size: 21px;">Even the all-powerful
                                    Pointing has no control about the blind texts
                                </h6>
                                <div class="d-flex align-items-center">
                                    <span
                                        style=" line-height: 15px;font-weight: 200;font-size: 13px; padding-right: 10px;"><i
                                            class="fa fa-calendar" aria-hidden="true"></i>
                                        April 09, 2019</span>
                                    <span
                                        style=" line-height: 15px;font-weight: 200;font-size: 13px; padding-right: 10px;"><i
                                            class="fa fa-user pr-2" aria-hidden="true"></i>
                                        Admin</span>
                                    <span style=" line-height: 15px;font-weight: 200;font-size: 13px;">
                                        <i class="fa fa-commenting pr-2" aria-hidden="true"></i> 5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-4">
                        <div class="row recent-info">
                            <div class=" col-md-4 recent-img"></div>
                            <div class="col-md-8 recent-img-data">
                                <h6 style="line-height: 30px;font-weight: 300;font-size: 21px;">Even the all-powerful
                                    Pointing has no control about the blind texts
                                </h6>
                                <div class="d-flex align-items-center">
                                    <span
                                        style=" line-height: 15px;font-weight: 200;font-size: 13px; padding-right: 10px;"><i
                                            class="fa fa-calendar" aria-hidden="true"></i>
                                        April 09, 2019</span>
                                    <span
                                        style=" line-height: 15px;font-weight: 200;font-size: 13px; padding-right: 10px;"><i
                                            class="fa fa-user pr-2" aria-hidden="true"></i>
                                        Admin</span>
                                    <span style=" line-height: 15px;font-weight: 200;font-size: 13px;">
                                        <i class="fa fa-commenting pr-2" aria-hidden="true"></i> 5</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tag " style="margin-top: 100px;">
                <h6 class="mb-5" style="font-size: 25px; font-weight: 400;">Tag Cloud </h6>
                <div class="row">
                    <div class="col-md-12 tag-btns">
                        <button class="border border-muted">Fruits</button>
                        <button class="border border-muted">Carrot</button>
                        <button class="border border-muted">Pumpkin</button>
                        <button class="border border-muted">Radish</button>
                        <button class="border border-muted">Garlic</button>
                        <button class="border border-muted">Onion</button>
                        <button class="border border-muted">Broccoli</button>
                        <button class="border border-muted">Potato</button>
                        <button class="border border-muted">Cucumber</button>
                        <button class="border border-muted">Tomato</button>


                    </div>
                </div>
            </div>
            <div style="margin-top: 100px;">
                <h6 style="font-size: 25px; font-weight: 400;">Paragraph</h6>
                <p style="font-size: 16px; line-height: 25px; margin: 30px 0;">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                    voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique,
                    inventore eos fugit cupiditate numquam!</p>
            </div>

        </div>
    </div>
</div>